/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  padding: 26px 36px;
  border-radius: 55px;
  border: none;
  background-color: #ff4dd2;
  color: white;
  cursor: pointer;
}

button a {
  font-size: 1.2rem;
  color: white;
}

img {
  width: 45px;
}

.ylsygi-text {
  text-align: center;
}

.ylsygi-text {
  font-size: 1rem;
}

.ylsygi-text hr {
  width: 50%;
  border-radius: 20%;
}

hr {
  width: 50%;
}

a {
  text-decoration: none;
}

hr ~ p {
  font-size: 1rem;
}

.ylsygi-text p {
  font-size: 2rem;
}

.container {
  max-width: 500px;
  margin: 20px auto;
}

.item {
  width: 900px;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  margin-bottom: 5px;
  border: 1px solid pink;
}

.title {
  display: block;
  padding: 10px 15px;
  position: relative;
  color: black;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.title:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title:hover {
  background-color: #e689f5;
}

.input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.input:checked ~ .title {
  background-color: #e689f5;
}

.input:checked ~ .title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #fff transparent;
}

.input:checked ~ .text {
  display: block;
}

.text {
  display: none;
  padding: 10px 15px;
  color: black;
  font-size: 14px;
}

.p2 {
  font-size: 1.4rem;
}

.logo {
  width: 370px;
  border-radius: 50%;
}

.footer {
  background: rgb(0, 0, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 1)),
    color-stop(69%, rgba(149, 29, 253, 1)),
    color-stop(90%, rgba(195, 30, 30, 1)),
    to(rgba(228, 16, 109, 0.9248074229691877))
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(149, 29, 253, 1) 69%,
    rgba(195, 30, 30, 1) 90%,
    rgba(228, 16, 109, 0.9248074229691877) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(149, 29, 253, 1) 69%,
    rgba(195, 30, 30, 1) 90%,
    rgba(228, 16, 109, 0.9248074229691877) 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-conteiner {
  width: 50%;
  margin: 0 auto;
}

.p-logo {
  color: white;
}

.links a {
  color: white;
}

.links {
  margin: 200px 159px 0 0;
}

@media (max-width: 720px) {
  .ylsygi-text p {
    font-size: 22px;
  }

  .ylsygi-text h1 {
    font-size: 47px;
  }

  .item {
    width: 278px;
    margin: 0 0 34px -54px;
  }
} ;
